.highlight-photo-btn {
    background-color: #f4f4f4;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

/* .form-text-input-char-count {
    display: none;
    font-size: 13px;
    margin: 5px;
    color: #8d8d8d;
    text-align: right;
}

.form-text-input-char-count.red {
    color: rgb(244, 63, 63);
} */

.highlight-photo-btn img {
    width: 70%;
}

.action-btn-group {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width:576px) {
    .action-btn-group {
        display: block;
    }
    button#saveChanges,
    a#cancelEdit,
    button#deleteReview {
        width: 100%;
        padding: 10px 0;
    }
    .save-changes-btn-group a,
    .save-changes-btn-group button {
        margin-bottom: 5px;
    }
    button#deleteReview {
        margin-top: 20px;
    }
}