#popupMessage {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 50%;
    max-width: 1000px;
}


/* Success & Danger popup color styles */

.success {
    border-left: 6px solid green;
}

.danger {
    border-left: 6px solid red;
}


/* Button spacing */

#popupMessage button {
    margin-top: 10px;
}